<!DOCTYPE html>
<html>
<head>
    <title>Friends</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Friends</h1>
    <button id="show-friends">Friends List</button>
    <button id="show-sent-requests">Sent Requests</button>
    <button id="show-received-requests">Received Requests</button>
    <button id="add-friend">Add Friend</button>

    <div id="friends-list"></div>
    <div id="sent-requests-list"></div>
    <div id="received-requests-list"></div>

    <div id="add-friend-form" style="display: none;">
        <input type="text" id="friend-username" placeholder="Enter friend's username">
        <button id="send-request">Send Request</button>
    </div>

    <a href="/">Return to Main Page</a>

    <script src="/static/main.js"></script>
</body>
</html>

