<!DOCTYPE html>
<html>
<head>
    <title>Friends Management</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/main.js"></script>
</head>
<body>
    <h1>Friends Management</h1>
    <div>
        <button id="show-friends">Show Friends</button>
        <ul id="friends-list"></ul>
    </div>
    <div>
        <button id="show-sent-requests">Show Sent Requests</button>
        <ul id="sent-requests-list"></ul>
    </div>
    <div>
        <button id="show-received-requests">Show Received Requests</button>
        <ul id="received-requests-list"></ul>
    </div>
    <div>
        <button id="add-friend">Add Friend</button>
        <form id="add-friend-form" style="display:none;">
            <input type="text" id="friend-username" placeholder="Enter friend's username">
            <button type="button" id="send-request">Send Request</button>
        </form>
    </div>
    <a href="/">Return to Main Page</a>
</body>
</html>
