<!DOCTYPE html>
<html>
<head>
    <title>Game Over</title>
</head>
<body>
    <h1>Game Over</h1>
    <p>The winner is: {{ winner }}</p>
    <h3>Player's Hand:</h3>
        <ul>
            {% for card in player_hand.cards %}
                <li>{{ card.rank.rank }} of {{ card.suit }}</li>
            {% endfor %}
        </ul>
        Value: {{ player_hand.get_value() }}<br>
    <h3>Dealer's Hand:</h3>
        <ul>
            {% for card in dealer_hand.cards %}
                <li>{{ card.rank.rank }} of {{ card.suit }}</li>
            {% endfor %}
        </ul>
        Value: {{ dealer_hand.value }}<br>
    <a href="{{ url_for('start_game') }}">Start a new game</a>
    <a href="/">Return to the main menu</a>
</body>
</html>