<!DOCTYPE html>
<html>
<head>
    <title>Leaderboard</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/main.js"></script>
</head>
<body>
    <h1>Leaderboard</h1>
    <button id="default-leaderboard-button">Default Leaderboard</button>
    <button id="friends-leaderboard-button">Friends Leaderboard</button>
    <table id="leaderboard-table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Points</th>
                <th>Rank</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <a href="/">Return to Main Page</a>
</body>
</html>
